USE [BookShop]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CanFitInLocation]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1.2. Function: fn_CanFitInLocation — Kiểm tra vị trí kho có đủ sức chứa
CREATE   FUNCTION [dbo].[fn_CanFitInLocation]
(
    @location_id INT,
    @additional_quantity INT
)
RETURNS BIT
AS
BEGIN
    DECLARE @remaining INT;
    DECLARE @result BIT = 0;

    SELECT @remaining = remaining_capacity
    FROM dbo.vw_LocationCapacity
    WHERE location_id = @location_id;

    IF @remaining IS NULL OR @remaining >= @additional_quantity
        SET @result = 1;

    RETURN @result;
END;
GO
/****** Object:  Table [dbo].[Warehouse_Locations]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse_Locations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[zone] [varchar](10) NOT NULL,
	[rack] [varchar](10) NOT NULL,
	[shelf] [varchar](10) NOT NULL,
	[location_code]  AS (((([zone]+'-')+[rack])+'-')+[shelf]) PERSISTED NOT NULL,
	[category_id] [int] NULL,
	[description] [nvarchar](max) NULL,
	[max_capacity] [int] NULL,
 CONSTRAINT [PK_Warehouse_Locations] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[author] [nvarchar](100) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[cost_price] [decimal](18, 2) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image] [varchar](max) NULL,
	[stock_quantity] [int] NOT NULL,
	[sold_quantity] [int] NOT NULL,
	[publisher] [nvarchar](100) NULL,
	[supplier] [nvarchar](100) NULL,
	[ISBN] [varchar](20) NULL,
	[yearOfPublish] [int] NULL,
	[number_page] [int] NULL,
	[is_active] [bit] NOT NULL,
	[location_id] [int] NULL,
	[category_id] [int] NOT NULL,
	[supplier_id] [int] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LocationCapacity]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 1. VIEWS & USER-DEFINED FUNCTIONS
-- ============================================================================

-- 1.1. View: vw_LocationCapacity — Sức chứa và tồn kho của từng vị trí kho
CREATE   VIEW [dbo].[vw_LocationCapacity]
AS
SELECT 
    l.location_id,
    l.location_code,
    l.max_capacity,
    ISNULL(SUM(b.stock_quantity), 0) AS current_stock,
    l.max_capacity - ISNULL(SUM(b.stock_quantity), 0) AS remaining_capacity
FROM dbo.Warehouse_Locations l
LEFT JOIN dbo.Books b ON b.location_id = l.location_id
GROUP BY l.location_id, l.location_code, l.max_capacity;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](128) NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[city] [nvarchar](100) NOT NULL,
	[district] [nvarchar](100) NOT NULL,
	[ward] [nvarchar](100) NOT NULL,
	[address_detail] [nvarchar](300) NOT NULL,
	[is_default_billing] [bit] NOT NULL,
	[is_default_shipping] [bit] NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminNotifications]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminNotifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](255) NOT NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
	[link] [varchar](255) NULL,
 CONSTRAINT [PK_AdminNotifications] PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[TotalSpend] [decimal](18, 2) NOT NULL,
	[Tags] [nvarchar](500) NULL,
	[FPoints] [int] NOT NULL,
	[WalletBalance] [decimal](18, 2) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookImages]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookImages](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[image_url] [varchar](255) NOT NULL,
 CONSTRAINT [PK_BookImages] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](128) NULL,
	[create_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[add_at] [datetime] NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[category_image] [varchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[parent_id] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collection_Books]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collection_Books](
	[collection_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[added_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Collection_Books] PRIMARY KEY CLUSTERED 
(
	[collection_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collections]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collections](
	[collection_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](128) NULL,
	[collection_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_public] [bit] NOT NULL,
	[cover_color] [varchar](20) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Collections] PRIMARY KEY CLUSTERED 
(
	[collection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Notes]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Notes](
	[note_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](128) NULL,
	[contact_channel] [varchar](50) NULL,
	[note_content] [nvarchar](2000) NOT NULL,
	[follow_up_date] [date] NULL,
	[create_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Customer_Notes] PRIMARY KEY CLUSTERED 
(
	[note_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FPoint_History]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPoint_History](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](128) NULL,
	[customer_info] [nvarchar](200) NULL,
	[action_type] [varchar](10) NOT NULL,
	[amount] [int] NOT NULL,
	[reason] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_FPoint_History] PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_History]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_History](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[transaction_type] [varchar](20) NOT NULL,
	[quantity_changed] [int] NOT NULL,
	[related_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [nvarchar](128) NULL,
 CONSTRAINT [PK_Inventory_History] PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_type] [varchar](20) NOT NULL,
	[order_id] [int] NULL,
	[purchase_order_id] [int] NULL,
	[created_date] [datetime] NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](128) NULL,
	[message] [nvarchar](500) NOT NULL,
	[link] [varchar](255) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](128) NULL,
	[order_date] [datetime] NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[status] [int] NOT NULL,
	[shipping_address] [nvarchar](500) NULL,
	[phone_number] [varchar](15) NULL,
	[receiver_name] [nvarchar](100) NULL,
	[payment_method] [nvarchar](50) NULL,
	[status_note] [nvarchar](500) NULL,
	[shipping_fee] [decimal](18, 2) NOT NULL,
	[discount_amount] [decimal](18, 2) NOT NULL,
	[voucher_id] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion_Books]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion_Books](
	[promo_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
 CONSTRAINT [PK_Promotion_Books] PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[promo_id] [int] IDENTITY(1,1) NOT NULL,
	[promo_name] [nvarchar](255) NOT NULL,
	[discount_percent] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Order_Details]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Order_Details](
	[po_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[purchase_order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[expected_quantity] [int] NOT NULL,
	[received_quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Purchase_Order_Details] PRIMARY KEY CLUSTERED 
(
	[po_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Orders]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Orders](
	[purchase_order_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_id] [int] NOT NULL,
	[user_id] [nvarchar](128) NULL,
	[approved_by] [nvarchar](128) NULL,
	[order_date] [datetime] NOT NULL,
	[total_quantity] [int] NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[status] [int] NOT NULL,
	[status_note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Purchase_Orders] PRIMARY KEY CLUSTERED 
(
	[purchase_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefundTransactions]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefundTransactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[return_id] [int] NOT NULL,
	[refund_amount] [decimal](18, 2) NOT NULL,
	[bank_reference] [varchar](255) NULL,
	[processed_by] [nvarchar](100) NULL,
	[processed_at] [datetime] NULL,
	[admin_note] [nvarchar](max) NULL,
 CONSTRAINT [PK_RefundTransactions] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reported_Reviews]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reported_Reviews](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NULL,
	[user_id] [nvarchar](128) NULL,
	[reason] [nvarchar](255) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_Reported_Reviews] PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRequests]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRequests](
	[return_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[customer_reason] [nvarchar](500) NOT NULL,
	[return_method] [nvarchar](50) NULL,
	[refund_preference] [nvarchar](50) NULL,
	[status] [int] NOT NULL,
	[admin_note] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
	[proof_image] [nvarchar](500) NULL,
	[image_mime_type] [varchar](50) NULL,
	[bank_name] [nvarchar](100) NULL,
	[account_number] [varchar](50) NULL,
	[account_owner] [nvarchar](100) NULL,
	[approved_at] [datetime] NULL,
	[evidence_image] [varbinary](max) NULL,
 CONSTRAINT [PK_ReturnRequests] PRIMARY KEY CLUSTERED 
(
	[return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](128) NULL,
	[book_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](2000) NULL,
	[create_at] [datetime] NOT NULL,
	[staff_reply] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](255) NOT NULL,
	[contact_person] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[address] [nvarchar](max) NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Support_Tickets]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Support_Tickets](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](128) NULL,
	[issue_type] [nvarchar](100) NOT NULL,
	[ticket_subject] [nvarchar](200) NOT NULL,
	[ticket_message] [nvarchar](2000) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[admin_reply] [nvarchar](2000) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Support_Tickets] PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Vouchers]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Vouchers](
	[user_id] [nvarchar](128) NOT NULL,
	[voucher_id] [int] NOT NULL,
	[is_used] [bit] NOT NULL,
	[saved_date] [datetime] NOT NULL,
 CONSTRAINT [PK_User_Vouchers] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[discount_amount] [decimal](18, 2) NOT NULL,
	[discount_percent] [int] NOT NULL,
	[min_order_value] [decimal](18, 2) NOT NULL,
	[max_discount] [decimal](18, 2) NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[usage_limit] [int] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Vouchers] PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet_History]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet_History](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](128) NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
	[order_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Wallet_History] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260820034608_InitialCreate', N'8.0.14')
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([address_id], [user_id], [fullname], [phone], [city], [district], [ward], [address_detail], [is_default_billing], [is_default_shipping]) VALUES (35, N'1011', N'Quang Lê', N'0357355646', N'Hưng Yên', N'Huyện Phù Cừ', N'Thị trấn Trần Cao', N'hhhhhhhhh', 0, 1)
INSERT [dbo].[Addresses] ([address_id], [user_id], [fullname], [phone], [city], [district], [ward], [address_detail], [is_default_billing], [is_default_shipping]) VALUES (37, N'1013', N'Lê Ngọc Quang', N'0357355646', N'Lào Cai', N'Huyện Mường Khương', N'Xã Bản Lầu', N'vfvdfv', 0, 1)
INSERT [dbo].[Addresses] ([address_id], [user_id], [fullname], [phone], [city], [district], [ward], [address_detail], [is_default_billing], [is_default_shipping]) VALUES (39, N'1012', N'Lê Ngọc Quang', N'0357355646', N'Hưng Yên', N'Huyện Phù Cừ', N'Xã Đình Cao', N'vugj', 0, 1)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminNotifications] ON 

INSERT [dbo].[AdminNotifications] ([notification_id], [message], [is_read], [created_at], [link]) VALUES (1, N'Đơn hàng #1 vừa được tạo bởi khách hàng.', 1, CAST(N'2026-03-10T16:25:03.093' AS DateTime), NULL)
INSERT [dbo].[AdminNotifications] ([notification_id], [message], [is_read], [created_at], [link]) VALUES (2, N'Khách hàng đã gửi yêu cầu hủy đơn hàng #2.', 1, CAST(N'2026-03-10T16:25:03.097' AS DateTime), NULL)
INSERT [dbo].[AdminNotifications] ([notification_id], [message], [is_read], [created_at], [link]) VALUES (3, N'Đơn hàng #3 đã được thanh toán thành công.', 1, CAST(N'2026-03-10T16:25:03.100' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[AdminNotifications] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1', N'Admin', N'ADMIN', N'526E3F1F-DA4C-42BF-855C-D3615B05B31F')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'2', N'Staff', N'STAFF', N'A2B86807-CF7A-4C03-949A-6DA953F3ECC4')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'3', N'Warehouse', N'WAREHOUSE', N'1FD3C4C3-653D-4C87-80AE-BFFB6F34BDED')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2000', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2001', N'3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2002', N'4')
GO
SET IDENTITY_INSERT [dbo].[BookImages] ON 

INSERT [dbo].[BookImages] ([image_id], [book_id], [image_url]) VALUES (14867, 426, N'https://cdn1.fahasa.com/media/catalog/product/i/m/image_231202.jpg')
INSERT [dbo].[BookImages] ([image_id], [book_id], [image_url]) VALUES (14868, 426, N'https://cdn1.fahasa.com/media/catalog/product/8/9/8935095631537.jpg')
INSERT [dbo].[BookImages] ([image_id], [book_id], [image_url]) VALUES (14869, 426, N'https://cdn1.fahasa.com/media/catalog/product/b/i/bia_nguoi-ba-tai-gioi-vung-saga-b4.jpg')
GO
SET IDENTITY_INSERT [dbo].[BookImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([book_id], [title], [author], [price], [cost_price], [description], [image], [stock_quantity], [sold_quantity], [publisher], [supplier], [ISBN], [yearOfPublish], [number_page], [is_active], [location_id], [category_id], [supplier_id]) VALUES (486, N'Quẳng Cái Cân Đi Mà Khôn Lớn - Cẩm Nang Ăn Dặm Bé Tự Chỉ Huy Của Mẹ Việt', N'Mẹ Tee', CAST(87360.00 AS Decimal(18, 2)), CAST(61152.00 AS Decimal(18, 2)), N'Chắc hẳn không ít những bà mẹ bỉm sữa cũng từng lo lắng khi em bé của bạn chuẩn bị bước vào giai đoạn ăn dặm với hàng tá những câu hỏi như: Khi nào thì bắt đầu? Bắt đầu như thế nào? Cháo hay bột? Nấu với gì? Tỷ lệ ra sao? Ăn bao nhiêu là đủ? Không chỉ dừng lại ở đó, chúng ta – những bà mẹ hiện đại còn hết sức ám ảnh với những bữa ăn dặm đầy nước mắt, đổ mồ hôi từ không ít những tấm gương xung quanh. Đó là những em bé rong ruổi trên xe đẩy với bát cháo bên cạnh, cứ mỗi lần bé ô a gì đó, người nhà lại tranh thủ đút tọt một miếng vô miệng. Đó là những em bé ngồi dán mắt vào chiếc ti vi đang phát những quảng cáo nhảy nhót hoặc điện thoại bật hoạt hình vui nhộn, mở miệng một cách vô thức để đón nhận đồ ăn. Là những em bé giãy giụa trên tay mẹ, phun phì phì thìa cháo, nước mắt rơi lã chã, miệng gào thét không ngớt chỉ với mong muốn duy nhất là bữa ăn chấm dứt. Đúng thật chẳng khác nào một cuộc chiến! Cho đến một ngày, tôi bắt gặp hình ảnh một em bé xinh tươi ngồi ngoan ngoãn trong chiếc ghế ăn dặm, say mê gặm những thanh cà rốt, nhai ngấu nghiến những mẩu bánh mì, mút chùn chụt miếng thịt luộc, rồi còn cả gặm ngô, ăn chuối lê táo… Điều làm tôi mê mẩn, xem đi xem lại những đoạn băng ghi lại bữa ăn của em chính là sự vụng về nhưng lại rất khéo léo của một cô bé mới có 6 tháng tuổi khi điều khiển những miếng thức ăn đưa lên miệng; rồi cả chiếc miệng xinh nhai móm mém mà mãi sau này tôi mới biết khi đó bé chưa hề có một chiếc răng nào; và ánh mắt mỗi khi bé ngẩng lên nhìn mẹ, trong đó ánh lên niềm vui thích, sự hào hứng với bữa ăn, thứ mà tôi gần như chưa từng thấy ở bất cứ em bé ăn dặm kiểu truyền thống nào. Ngay từ phút giây đó, tôi đã tự nhủ với thiên thần nhỏ trong bụng rằng đây sẽ là phương pháp tôi cho con ăn dặm. 6 tháng 10 ngày, lần đầu tiên tôi chính thức cho em bé ăn dặm theo phương pháp bé tự chỉ huy (Baby led weaning – BLW). Hồi hộp, lo lắng, tôi nín thở chờ đợi phản ứng của con. Thật tuyệt vời, Tee vô cùng hứng thú. Thậm chí, bé chỉ mất 2 tuần để bắt nhịp thay vì 1 tháng như trong các tài liệu hướng dẫn. 8 tháng, tôi bắt đầu cho con ăn cơm. 9 tháng, tôi lần đầu giới thiệu dĩa cho bé. 10 tháng, con đã có thể sử dụng dĩa để ăn các miếng hoa quả cắt nhỏ mà không cần bốc tay. 11 tháng, tôi dạy con làm quen với thìa. 14 tháng, Tee xúc thìa thành thạo. Lúc này, con đã có thể tự xúc hết một bát rưỡi cơm trộn thịt mỗi bữa. Thịt, cá, rau, canh đều ăn đầy đủ, không hề kén chọn. Tráng miệng thêm một bát hoa quả cắt nhỏ. 18 tháng, ngày đầu tiên đi học, cô giáo khen con tự giác xúc ăn như một đứa trẻ 3 tuổi. 19 tháng, con tự học cách sử dụng đũa bằng việc quan sát mọi người xung quanh. Và con đã hoàn thành “khóa huấn luyện” BLW trong thời gian này (sớm hơn dự kiến 5 tháng) với việc có thể tay thìa, tay đũa, ăn hết bát bún/phở y hệt người lớn. Không xay nhuyễn đồ ăn, không ăn rong, không ti vi, không điện thoại, không nài ép, không tiếng gào khóc… Những em bé ăn dặm BLW vẫn luôn có một niềm háo hức vô bờ bến với đồ ăn và cảm giác thích thú khi tới mỗi bữa ăn. Đó chính là những gì BLW đã đem lại cho mẹ con tôi. Dĩ nhiên, bên cạnh những thành công mà hai mẹ con tôi đạt được, cũng không thể quên kể đến cả những “cuộc cân não” đầy gam
GO

, khốc liệt. Những giai đoạn bé biếng ăn nhưng không được nài ép, áp lực từ phía người thân trong gia đình khi thấy con ăn ít, mệt mỏi với bãi chiến trường sau mỗi bữa ăn, những nguyên tắc cần tuân thủ nghiêm ngặt, tước quyền được ăn của con… Tôi tin chắc rằng không một bà mẹ nào thành công với BLW mà chưa từng trải qua một trong những khủng hoảng đó. Nhưng cũng như việc “muốn nhìn thấy cầu vồng, bạn phải biết chịu đựng cơn mưa”, chỉ cần bạn kiên định, vững tâm và vượt qua được, thành công với bạn đang ở rất gần phía trước. Và khoảnh khắc bạn nhìn thấy con ăn ngoan, tự xúc ăn hết bát cơm, biết dừng lại khi no và tự giác rời khỏi ghế… những điều mà với một em bé 3 tuổi ăn dặm kiểu truyền thống còn khó để làm, bạn sẽ hiểu cảm giác hạnh phúc mà tôi đã từng trải qua. Mà tôi cảm thấy như hai từ hạnh phúc còn không', N'https://cdn1.fahasa.com/media/catalog/product/i/m/image_195509_1_47018.jpg', 50, 0, N'NXB Phụ Nữ', N'Phụ Nữ', N'9786045661208', 2019, 180, 1, 18, 20, 36)
INSERT [dbo].[Books] ([book_id], [title], [author], [price], [cost_price], [description], [image], [stock_quantity], [sold_quantity], [publisher], [supplier], [ISBN], [yearOfPublish], [number_page], [is_active], [location_id], [category_id], [supplier_id]) VALUES (487, N'Giúp Con Đạt Được Chiều Cao Lý Tưởng - Tăng Thêm 10 cm Không Khó', N'Fir Forest', CAST(87200.00 AS Decimal(18, 2)), CAST(61040.00 AS Decimal(18, 2)), N'Giúp Con Đạt Được Chiều Cao Lý Tưởng - Tăng Thêm 10 cm Không Khó Trong xã hội hiện đại, chiều cao không chỉ ảnh hưởng tới ngoại hình mà còn ảnh hưởng đến lòng tự tôn và địa vị xã hội của một người. Về cơ bản, chúng ta đều biết rằng chiều cao được quyết định bởi di truyền, và những bậc cha mẹ có tầm vóc thấp thường lo lắng rằng vóc dáng con mình sẽ thấp bé. Tuy nhiên nếu cha mẹ và trẻ cùng nỗ lực trong thời kỳ tăng trưởng, trẻ có thể cao thêm 10 cm hoặc hơn thế nữa so với chiều cao dự kiến. Cuốn sách này được chia thành 4 phần. Trong đó, phần 1 và 2 phân tích các yếu tố ảnh hưởng đến sự phát triển chiều cao. Phần 3 cung cấp hướng dẫn về các bài tập giúp kích thích đĩa tăng trưởng. Phần 4 chỉ ra các yếu tố gây cản trở sự tăng trưởng chiều cao của trẻ và những lời khuyên để thanh lọc những yếu tố này. Hi vọng với những thông tin có trong sách này, cha mẹ và con cái có thể cùng nhau nỗ lực để trẻ cao lớn hơn, hạnh phúc hơn. Một số trích đoạn: Nghĩa là, điều quan trọng là phải tuân thủ tuyệt đối các nguyên tắc cơ bản về dinh dưỡng, giấc ngủ và vận động trong sinh hoạt hằng ngày. Ba thói quen sinh hoạt này cũng đóng vai trò quan trọng trong việc phát triển trí tuệ, hình thành tính cách và nhân phẩm của trẻ; nếu tuân thủ và thực hiện đều đặn thì sẽ có ý nghĩa giáo dục rất lớn. Điều quan trọng là sự tăng trưởng chiều cao diễn ra nhanh chóng vào thời điểm nhất định. Thời điểm này được gọi là giai đoạn tăng trưởng mạnh. Giai đoạn tăng trưởng mạnh chỉ xảy ra hai lần trong đời, mặc dù mỗi người có sự khác biệt, nhưng giai đoạn tăng trưởng mạnh đầu tiên thường xảy ra trước ba tuổi và giai đoạn tăng trưởng mạnh thứ hai diễn ra ở tuổi dậy thì. Vào thời điểm này, cha mẹ nên quan tâm đến sự phát triển chiều cao của con mình nhiều hơn thường lệ.', N'https://cdn1.fahasa.com/media/catalog/product/b/i/bia_chieu-cao.jpg', 50, 0, N'Thế Giới', N'CÔNG TY CỔ PHẦN SÁCH OMEGA VIỆT NAM', N'8936158591812', 2023, 136, 1, 18, 20, 11)
INSERT [dbo].[Books] ([book_id], [title], [author], [price], [cost_price], [description], [image], [stock_quantity], [sold_quantity], [publisher], [supplier], [ISBN], [yearOfPublish], [number_page], [is_active], [location_id], [category_id], [supplier_id]) VALUES (488, N'Kỷ Luật Bàn Ăn - Dinh Dưỡng Cân Bằng: Để Ăn Rong Chỉ Còn Là Dĩ Vãng (Tái Bản 2024)', N'Hachun Lyonnet (Hà Chũn), BS Nguyễn Hồng Thu', CAST(240000.00 AS Decimal(18, 2)), CAST(168000.00 AS Decimal(18, 2)), N'Kỷ Luật Bàn Ăn - Dinh Dưỡng Cân Bằng: Để Ăn Rong Chỉ Còn Là Dĩ Vãng Chào mừng mẹ đến với hành trình mới đầy thú vị nhưng cũng không kém phần căng thẳng. Đã qua rồi cái thời kì nhàn hạ, cả ngày quanh đi quẩn lại với vài bình sữa, mỗi lần đến bữa mẹ chỉ thủng thỉnh vén áo cho ti hay cùng lắm là chuẩn bị một bình – một núm là xong một bữa ăn. 6 tháng đến như một cơn gió, cùng với bao hứng khởi của việc bắt đầu ăn dặm, đa dạng hóa thức ăn. Vài ngày đầu trôi đi thật êm đềm, thế nhưng rồi kì vọng của mẹ về em bé ngồi ăn ngoan từ đầu đến cuối bữa bị đập tan tành bởi cái hiện thực con biếng ăn, con gào khóc – đập phá, chạy khắp nhà, không chịu ăn, thậm chí kèm nôn ọe … Bây giờ phải làm sao? Mẹ sẽ có hai sự lựa chọn. Một là, “ ăn rong và ép ăn ” với những hệ quả như: làm tiêu hóa kém hiệu quả; làm trẻ sợ hãi, cáu kỉnh, có thể gây ức chế thần kinh và ở nhiều trẻ những điều này gây ức chế tiêu hóa, nôn theo chủ ý, ăn uống lệch dinh dưỡng; làm mất thời gian và công sức của chamẹ và gia đình; làm hỏng răng trong lâu dài. Do sợ nôn nên mẹ không đánh răng cho bé sau ăn, những hàm răng sữa cứ thế tạo tầng lớp mảng bám dày, mủn răng, sún răng.; mất cơ hội học tập và phát triển: Ép ăn lấy đi ở trẻ cơ hội được khám phá ẩm thực, học tập kĩ năng cử động tinh… Hai là, “ ăn chủ động và kỷ luật bàn ăn ” với những ảnh hưởng tích cực như: rèn kỹ năng phối hợp của tay – mắt – miệng; tăng sự tự tin, khi con xoay xở qua khó khăn, và đạt được điều mình muốn: cho được thức ăn vào miệng, cầm được chiếc thìa, ăn được bằng nĩa, thìa, hay đũa; tính tự lập tự chủ được nuôi dưỡng: con ăn cho chính bản thân mình, và con làm được; hệ tiêu hóa có cơ hội được hoàn thiện, quá trình tiêu hóa là toàn diện. Phản ứng sinh hóa trong tiêu hóa là tự nhiên và hiệu quả; và cuối cùng là con ăn đủ chất, cân bằng và dinh dưỡng tốt nhất để phát triển tối đa theo khả năng tiềm tàng của chính mình. Đến đây chắc hẳn cha mẹ đã biết mình nên chọn theo hướng nào rồi, nhưng đâu sẽ là chỉ dẫn khi đứa trẻ: không chịu ngồi vào bàn; ngậm thức ăn trong miệng; ăn rất ít; ăn lệch; hoặc uống rất ít nước… Thì tất cả những vấn đề đó đã được tác giả Hachun Lyonnet (Hà Chũn) hệ thống lại và chia sẻ trong cuốn sách Kỷ luật bàn ăn - Dinh dưỡng cân bằng với hình thức vô cùng tươi mới và khoa học. Cuốn sách được xuất bản với hy vọng mỗi đứa trẻ đều được Ăn cân bằng – Tại bàn – Cùng gia đình và trong niềm vui. “ Nhờ việc áp dụng kỷ luật bàn ăn mà rất nhiều em bé đã ngồi ngoan trên ghế để ăn dặm, thay vì vừa chạy chơi vừa ăn, ảnh hưởng đến hệ tiêu hóa và khiến người lớn “phát điên”. Nhờ áp dụng kỷ luật bàn ăn, nhiều em bé cảm nhận được sự đáng quý của thức ăn, biết trân trọng đồ ăn và ăn uống tự giác, ăn theo nhu cầu. Nhờ kỷ luật bàn ăn, các bé học được cách ăn uống cân bằng và lành mạnh, thay vì ăn lệch và chỉ ăn những món mà mình thích. Do đó, cuốn sách này sẽ giúp các bậc cha mẹ dù theo phương pháp ăn dặm nào cũng có thể áp dụng kỷ luật bàn ăn hiệu quả, đúng đắn và phù hợp, để mọi em bé đều tìm được niềm vui trong ăn uống.” – trích lời giới thiệu của Mẹ Ong Bông , đồng tác giả bộ sách bán chạy Nuôi con không phải là cuộc chiến – Ăn dặm không phải là cuộc chiến . “Liệu có một thứ gọi là “bí-kíp toàn-thư tuyệt-phẩm” về dinh dưỡng và ăn uống cho trẻ nhỏ giữa “ma trận” thông tin trong thời điểm hiện tại không? Hỡi những bà mẹ trẻ đang cảm thấy hoang mang và bối rối với việc tìm hiểu về dinh dưỡng cho con, cùng nỗi ám ảnh “ăn rong”, “ép ăn” trong thời kì con ăn dặm! Xin thưa với bạn là không có đâu! Đừng đi tìm cái bí kíp hoàn hảo ấy. Nhưng may thay, bạn lại đang cầm trên tay cuốn sách này.” – trích lời giới thiệu của Phan Anh (Esheep) Mục lục: Ăn dặm: Bắt đầu một hành trình đầy hứng khởi Kỉ luật bàn ăn: Chìa khó đến dinh dưỡng tích cực Dinh dưỡng cân bằng: Để con là lực sĩ tí hon của mẹ Giúp tôi với, con không chịu ăn… Để bàn ăn không phải nơi tranh giành quyền lực giữ con và người lớn Một số điều mẹ cần biết Chuyện người trong cuộc: Các mẹ đã áp dụng thành công Kỉ luật bàn ăn như thế nào?', N'https://cdn1.fahasa.com/media/catalog/product/b/i/bia-1---ky-luat-ban-an-dinh-duong-can-bang_2.jpg', 50, 0, N'Lao Động', N'Thái Hà', N'8935280915442', 2024, 300, 1, 55, 20, 39)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cart_id], [user_id], [create_at]) VALUES (46, N'1011', CAST(N'2026-03-13T00:16:23.850' AS DateTime))
INSERT [dbo].[Cart] ([cart_id], [user_id], [create_at]) VALUES (52, N'1004', CAST(N'2026-03-16T23:19:58.320' AS DateTime))
INSERT [dbo].[Cart] ([cart_id], [user_id], [create_at]) VALUES (59, N'4', CAST(N'2026-04-14T07:35:53.307' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([category_id], [category_name], [category_image], [description], [parent_id]) VALUES (1, N'VĂN HỌC', N'assets/image/Categories/Vanhoc.jpg', NULL, NULL)
INSERT [dbo].[Categories] ([category_id], [category_name], [category_image], [description], [parent_id]) VALUES (2, N'Tiểu Thuyết', NULL, NULL, 1)
INSERT [dbo].[Categories] ([category_id], [category_name], [category_image], [description], [parent_id]) VALUES (3, N'Truyện Ngắn - Tản Văn', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Collections] ON 

INSERT [dbo].[Collections] ([collection_id], [user_id], [collection_name], [description], [is_public], [cover_color], [created_at]) VALUES (2, N'4', N'Sách Văn Học', N'Những sách văn học tôi thích', 1, N'#14cc8f', CAST(N'2026-03-10T21:28:07.047' AS DateTime))
INSERT [dbo].[Collections] ([collection_id], [user_id], [collection_name], [description], [is_public], [cover_color], [created_at]) VALUES (3, N'4', N'Truyện tranh', N'bvjh', 1, N'#c92127', CAST(N'2026-03-10T21:28:18.983' AS DateTime))
INSERT [dbo].[Collections] ([collection_id], [user_id], [collection_name], [description], [is_public], [cover_color], [created_at]) VALUES (4, N'4', N'Tình yêu', N'Những sách về love story', 1, N'#ca2194', CAST(N'2026-03-10T21:28:40.267' AS DateTime))
SET IDENTITY_INSERT [dbo].[Collections] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([invoice_id], [invoice_type], [order_id], [purchase_order_id], [created_date], [total_amount], [status]) VALUES (1, N'PURCHASE', NULL, 5, CAST(N'2026-03-28T21:03:20.733' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), N'COMPLETED')
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([notification_id], [user_id], [message], [link], [is_read], [created_at]) VALUES (14, N'1011', N'<b>sa</b> đã nhắc đến bạn trong một bình luận.', N'detail?pid=2110#reply-box-76', 1, CAST(N'2026-03-14T12:44:41.147' AS DateTime))
INSERT [dbo].[Notifications] ([notification_id], [user_id], [message], [link], [is_read], [created_at]) VALUES (15, N'1011', N'<b>sa</b> đã nhắc đến bạn trong một bình luận.', N'detail?pid=2110#reply-box-79', 1, CAST(N'2026-03-15T14:45:38.453' AS DateTime))
INSERT [dbo].[Notifications] ([notification_id], [user_id], [message], [link], [is_read], [created_at]) VALUES (18, N'1011', N'<b>sa</b> đã nhắc đến bạn trong một bình luận.', N'detail?pid=2110#reply-box-82', 1, CAST(N'2026-03-18T14:33:57.833' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [total_amount], [status], [shipping_address], [phone_number], [receiver_name], [payment_method], [status_note], [shipping_fee], [discount_amount], [voucher_id]) VALUES (1, N'4', CAST(N'2026-02-25T14:06:56.970' AS DateTime), CAST(368000.00 AS Decimal(18, 2)), 1, N'Hà nội', N'0357355646', NULL, N'COD', NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [total_amount], [status], [shipping_address], [phone_number], [receiver_name], [payment_method], [status_note], [shipping_fee], [discount_amount], [voucher_id]) VALUES (2, N'4', CAST(N'2026-02-25T14:08:33.790' AS DateTime), CAST(292000.00 AS Decimal(18, 2)), 7, N'thanh hóa', N'0357355646', NULL, N'COD', NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [total_amount], [status], [shipping_address], [phone_number], [receiver_name], [payment_method], [status_note], [shipping_fee], [discount_amount], [voucher_id]) VALUES (3, N'4', CAST(N'2026-02-25T15:36:55.260' AS DateTime), CAST(155000.00 AS Decimal(18, 2)), 1, N'vgh', N'0357355646', NULL, N'COD', NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([promo_id], [promo_name], [discount_percent], [start_date], [end_date], [is_active]) VALUES (5, N'Siêu Salee', 50, CAST(N'2026-03-20T19:08:00.000' AS DateTime), CAST(N'2026-03-31T19:08:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchase_Orders] ON 

INSERT [dbo].[Purchase_Orders] ([purchase_order_id], [supplier_id], [user_id], [approved_by], [order_date], [total_quantity], [total_amount], [status], [status_note]) VALUES (1, 1, N'1006', NULL, CAST(N'2023-10-01T10:30:00.000' AS DateTime), 150, CAST(7500000.00 AS Decimal(18, 2)), 0, N'Đơn hàng nhập sách thiếu đầu tháng')
INSERT [dbo].[Purchase_Orders] ([purchase_order_id], [supplier_id], [user_id], [approved_by], [order_date], [total_quantity], [total_amount], [status], [status_note]) VALUES (2, 2, N'1006', N'1005', CAST(N'2023-10-05T14:15:00.000' AS DateTime), 300, CAST(15000000.00 AS Decimal(18, 2)), 1, N'Admin đã duyệt, chờ giao')
INSERT [dbo].[Purchase_Orders] ([purchase_order_id], [supplier_id], [user_id], [approved_by], [order_date], [total_quantity], [total_amount], [status], [status_note]) VALUES (3, 1, N'1006', N'1005', CAST(N'2023-09-20T09:00:00.000' AS DateTime), 100, CAST(5000000.00 AS Decimal(18, 2)), 2, N'Đã nhập kho')
SET IDENTITY_INSERT [dbo].[Purchase_Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([supplier_id], [supplier_name], [contact_person], [phone], [email], [address], [is_active]) VALUES (1, N'Nhà Xuất Bản Kim Đồng', N'Nguyễn Văn A', N'02439264700', N'info@nxbkimdong.com.vn', N'55 Quang Trung, Hai Bà Trưng, Hà Nội', 1)
INSERT [dbo].[Suppliers] ([supplier_id], [supplier_name], [contact_person], [phone], [email], [address], [is_active]) VALUES (2, N'Công ty CP Văn hóa và Truyền thông Nhã Nam', N'Trần Thị B', N'02435146876', N'info@nhanam.vn', N'59 Đỗ Quang, Cầu Giấy, Hà Nội', 1)
INSERT [dbo].[Suppliers] ([supplier_id], [supplier_name], [contact_person], [phone], [email], [address], [is_active]) VALUES (3, N'Nhà Xuất Bản Trẻ', N'Lê Văn C', N'02839316289', N'nxbtre@nxbtre.com.vn', N'161B Lý Chính Thắng, Quận 3, TP.HCM', 1)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Support_Tickets] ON 

INSERT [dbo].[Support_Tickets] ([ticket_id], [user_id], [issue_type], [ticket_subject], [ticket_message], [status], [admin_reply], [created_at]) VALUES (1, N'4', N'Lỗi website / Ứng dụng', N'scxsx', N'cscxsx', N'Pending', NULL, CAST(N'2026-03-11T22:05:27.750' AS DateTime))
INSERT [dbo].[Support_Tickets] ([ticket_id], [user_id], [issue_type], [ticket_subject], [ticket_message], [status], [admin_reply], [created_at]) VALUES (2, N'4', N'Sản phẩm lỗi / Thiếu hàng', N'Phản hồi tiến độ giao hàng', N'77', N'Pending', NULL, CAST(N'2026-03-14T12:12:38.843' AS DateTime))
INSERT [dbo].[Support_Tickets] ([ticket_id], [user_id], [issue_type], [ticket_subject], [ticket_message], [status], [admin_reply], [created_at]) VALUES (3, N'4', N'Lỗi website / Ứng dụng', N'Phản hồi tiến độ giao hàng', N'uu', N'Replied', N'Chúng tôi sẽ cố gắng khắc phục, cảm ơn bạn', CAST(N'2026-03-18T01:34:47.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[Support_Tickets] OFF
GO
INSERT [dbo].[User_Vouchers] ([user_id], [voucher_id], [is_used], [saved_date]) VALUES (N'1013', 2, 0, CAST(N'2026-03-16T18:20:05.533' AS DateTime))
INSERT [dbo].[User_Vouchers] ([user_id], [voucher_id], [is_used], [saved_date]) VALUES (N'4', 1, 1, CAST(N'2026-03-08T14:35:28.247' AS DateTime))
INSERT [dbo].[User_Vouchers] ([user_id], [voucher_id], [is_used], [saved_date]) VALUES (N'4', 2, 1, CAST(N'2026-03-08T14:35:28.250' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([voucher_id], [code], [discount_amount], [discount_percent], [min_order_value], [max_discount], [start_date], [end_date], [usage_limit], [status]) VALUES (1, N'FREESHIP', CAST(30000.00 AS Decimal(18, 2)), 0, CAST(0.00 AS Decimal(18, 2)), NULL, CAST(N'2026-03-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), 490, 1)
INSERT [dbo].[Vouchers] ([voucher_id], [code], [discount_amount], [discount_percent], [min_order_value], [max_discount], [start_date], [end_date], [usage_limit], [status]) VALUES (2, N'GIAM50K', CAST(50000.00 AS Decimal(18, 2)), 0, CAST(200000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-03-01T00:00:00.000' AS DateTime), CAST(N'2026-06-30T00:00:00.000' AS DateTime), 94, 1)
INSERT [dbo].[Vouchers] ([voucher_id], [code], [discount_amount], [discount_percent], [min_order_value], [max_discount], [start_date], [end_date], [usage_limit], [status]) VALUES (3, N'SALE10PT', CAST(0.00 AS Decimal(18, 2)), 10, CAST(150000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-03-08T00:00:00.000' AS DateTime), CAST(N'2026-05-01T00:00:00.000' AS DateTime), 200, 1)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallet_History] ON 

INSERT [dbo].[Wallet_History] ([transaction_id], [user_id], [amount], [transaction_type], [description], [order_id], [created_at]) VALUES (3, N'4', CAST(150000.00 AS Decimal(18, 2)), N'REFUND', N'Hoàn tiền cho đơn hàng bị hủy (Test hệ thống)', NULL, CAST(N'2026-03-20T21:28:02.730' AS DateTime))
INSERT [dbo].[Wallet_History] ([transaction_id], [user_id], [amount], [transaction_type], [description], [order_id], [created_at]) VALUES (4, N'4', CAST(-50000.00 AS Decimal(18, 2)), N'PAYMENT', N'Thanh toán bằng ví BookStore', NULL, CAST(N'2026-03-20T21:28:02.733' AS DateTime))
INSERT [dbo].[Wallet_History] ([transaction_id], [user_id], [amount], [transaction_type], [description], [order_id], [created_at]) VALUES (5, N'4', CAST(4000000.00 AS Decimal(18, 2)), N'DEPOSIT', N'Hệ thống nạp tiền vào ví', NULL, CAST(N'2026-03-20T22:08:22.043' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wallet_History] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouse_Locations] ON 

INSERT [dbo].[Warehouse_Locations] ([location_id], [zone], [rack], [shelf], [category_id], [description], [max_capacity]) VALUES (0, N'A', N'01', N'01', 17, N'Khu A - Kệ 01 - Tầng 01 - Thể loại Cẩm Nang Làm Cha Mẹ', 100)
INSERT [dbo].[Warehouse_Locations] ([location_id], [zone], [rack], [shelf], [category_id], [description], [max_capacity]) VALUES (1, N'A', N'02', N'02', 27, N'Khu A - Kệ 02 - Tầng 02 - Thể loại Câu Chuyện Cuộc Đời', 100)
INSERT [dbo].[Warehouse_Locations] ([location_id], [zone], [rack], [shelf], [category_id], [description], [max_capacity]) VALUES (2, N'A', N'01', N'03', 28, N'Khu A - Kệ 01 - Tầng 03 - Thể loại Chính Trị', 100)
SET IDENTITY_INSERT [dbo].[Warehouse_Locations] OFF
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BookImages]  WITH CHECK ADD  CONSTRAINT [FK_BookImages_Books_book_id] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookImages] CHECK CONSTRAINT [FK_BookImages_Books_book_id]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories_category_id] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories_category_id]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Suppliers_supplier_id] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Suppliers] ([supplier_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Suppliers_supplier_id]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Warehouse_Locations_location_id] FOREIGN KEY([location_id])
REFERENCES [dbo].[Warehouse_Locations] ([location_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Warehouse_Locations_location_id]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Books_book_id] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Books_book_id]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Cart_cart_id] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Cart_cart_id]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories_parent_id] FOREIGN KEY([parent_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories_parent_id]
GO
ALTER TABLE [dbo].[Collection_Books]  WITH CHECK ADD  CONSTRAINT [FK_Collection_Books_Books_book_id] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Collection_Books] CHECK CONSTRAINT [FK_Collection_Books_Books_book_id]
GO
ALTER TABLE [dbo].[Collection_Books]  WITH CHECK ADD  CONSTRAINT [FK_Collection_Books_Collections_collection_id] FOREIGN KEY([collection_id])
REFERENCES [dbo].[Collections] ([collection_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Collection_Books] CHECK CONSTRAINT [FK_Collection_Books_Collections_collection_id]
GO
ALTER TABLE [dbo].[Collections]  WITH CHECK ADD  CONSTRAINT [FK_Collections_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Collections] CHECK CONSTRAINT [FK_Collections_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[Customer_Notes]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Notes_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_Notes] CHECK CONSTRAINT [FK_Customer_Notes_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[FPoint_History]  WITH CHECK ADD  CONSTRAINT [FK_FPoint_History_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FPoint_History] CHECK CONSTRAINT [FK_FPoint_History_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[Inventory_History]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_History_AspNetUsers_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Inventory_History] CHECK CONSTRAINT [FK_Inventory_History_AspNetUsers_created_by]
GO
ALTER TABLE [dbo].[Inventory_History]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_History_Books_book_id] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventory_History] CHECK CONSTRAINT [FK_Inventory_History_Books_book_id]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Orders_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Orders_order_id]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Purchase_Orders_purchase_order_id] FOREIGN KEY([purchase_order_id])
REFERENCES [dbo].[Purchase_Orders] ([purchase_order_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Purchase_Orders_purchase_order_id]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Books_book_id] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Books_book_id]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_order_id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Vouchers_voucher_id] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Vouchers] ([voucher_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Vouchers_voucher_id]
GO
ALTER TABLE [dbo].[Promotion_Books]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_Books_Books_book_id] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Promotion_Books] CHECK CONSTRAINT [FK_Promotion_Books_Books_book_id]
GO
ALTER TABLE [dbo].[Promotion_Books]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_Books_Promotions_promo_id] FOREIGN KEY([promo_id])
REFERENCES [dbo].[Promotions] ([promo_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Promotion_Books] CHECK CONSTRAINT [FK_Promotion_Books_Promotions_promo_id]
GO
ALTER TABLE [dbo].[Purchase_Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Order_Details_Books_book_id] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Purchase_Order_Details] CHECK CONSTRAINT [FK_Purchase_Order_Details_Books_book_id]
GO
ALTER TABLE [dbo].[Purchase_Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Order_Details_Purchase_Orders_purchase_order_id] FOREIGN KEY([purchase_order_id])
REFERENCES [dbo].[Purchase_Orders] ([purchase_order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchase_Order_Details] CHECK CONSTRAINT [FK_Purchase_Order_Details_Purchase_Orders_purchase_order_id]
GO
ALTER TABLE [dbo].[Purchase_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Orders_AspNetUsers_approved_by] FOREIGN KEY([approved_by])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Purchase_Orders] CHECK CONSTRAINT [FK_Purchase_Orders_AspNetUsers_approved_by]
GO
ALTER TABLE [dbo].[Purchase_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Orders_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Purchase_Orders] CHECK CONSTRAINT [FK_Purchase_Orders_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[Purchase_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Orders_Suppliers_supplier_id] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[Purchase_Orders] CHECK CONSTRAINT [FK_Purchase_Orders_Suppliers_supplier_id]
GO
ALTER TABLE [dbo].[RefundTransactions]  WITH CHECK ADD  CONSTRAINT [FK_RefundTransactions_ReturnRequests_return_id] FOREIGN KEY([return_id])
REFERENCES [dbo].[ReturnRequests] ([return_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefundTransactions] CHECK CONSTRAINT [FK_RefundTransactions_ReturnRequests_return_id]
GO
ALTER TABLE [dbo].[Reported_Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reported_Reviews_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Reported_Reviews] CHECK CONSTRAINT [FK_Reported_Reviews_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[Reported_Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reported_Reviews_Review_review_id] FOREIGN KEY([review_id])
REFERENCES [dbo].[Review] ([review_id])
GO
ALTER TABLE [dbo].[Reported_Reviews] CHECK CONSTRAINT [FK_Reported_Reviews_Review_review_id]
GO
ALTER TABLE [dbo].[ReturnRequests]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequests_Books_book_id] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[ReturnRequests] CHECK CONSTRAINT [FK_ReturnRequests_Books_book_id]
GO
ALTER TABLE [dbo].[ReturnRequests]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequests_Orders_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[ReturnRequests] CHECK CONSTRAINT [FK_ReturnRequests_Orders_order_id]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Books_book_id] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Books_book_id]
GO
ALTER TABLE [dbo].[Support_Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Support_Tickets_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Support_Tickets] CHECK CONSTRAINT [FK_Support_Tickets_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[User_Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_User_Vouchers_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Vouchers] CHECK CONSTRAINT [FK_User_Vouchers_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[User_Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_User_Vouchers_Vouchers_voucher_id] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Vouchers] ([voucher_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Vouchers] CHECK CONSTRAINT [FK_User_Vouchers_Vouchers_voucher_id]
GO
ALTER TABLE [dbo].[Wallet_History]  WITH CHECK ADD  CONSTRAINT [FK_Wallet_History_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wallet_History] CHECK CONSTRAINT [FK_Wallet_History_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[Wallet_History]  WITH CHECK ADD  CONSTRAINT [FK_Wallet_History_Orders_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Wallet_History] CHECK CONSTRAINT [FK_Wallet_History_Orders_order_id]
GO
ALTER TABLE [dbo].[Warehouse_Locations]  WITH CHECK ADD  CONSTRAINT [FK_Warehouse_Locations_Categories_category_id] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Warehouse_Locations] CHECK CONSTRAINT [FK_Warehouse_Locations_Categories_category_id]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOverflowLocation]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- 2. STORED PROCEDURES
-- ============================================================================

-- 2.1. Stored Procedure: sp_CreateOverflowLocation
CREATE   PROCEDURE [dbo].[sp_CreateOverflowLocation]
    @category_id INT,
    @new_location_id INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @zone VARCHAR(10);
    SELECT TOP 1 @zone = zone
    FROM dbo.Warehouse_Locations
    WHERE category_id = @category_id
    ORDER BY location_id ASC;

    IF @zone IS NULL
    BEGIN
        RAISERROR(N'Thể loại này chưa có tầng gốc nào, không xác định được zone để tạo tầng phụ.', 16, 1);
        RETURN;
    END

    DECLARE @rack INT = 90, @shelf INT, @found BIT = 0;
    DECLARE @rack_str VARCHAR(10), @shelf_str VARCHAR(10);

    WHILE @rack <= 99 AND @found = 0
    BEGIN
        SET @shelf = 1;
        WHILE @shelf <= 5 AND @found = 0
        BEGIN
            SET @rack_str = RIGHT('0' + CAST(@rack AS VARCHAR(2)), 2);
            SET @shelf_str = RIGHT('0' + CAST(@shelf AS VARCHAR(2)), 2);

            IF NOT EXISTS (
                SELECT 1 FROM dbo.Warehouse_Locations
                WHERE zone = @zone AND rack = @rack_str AND shelf = @shelf_str
            )
            BEGIN
                SET @found = 1;
            END
            ELSE
            BEGIN
                SET @shelf += 1;
            END
        END
        IF @found = 0 SET @rack += 1;
    END

    IF @found = 0
    BEGIN
        RAISERROR(N'Đã hết chỗ trong dải rack phụ 90-99 cho zone này, cần mở zone mới.', 16, 1);
        RETURN;
    END

    DECLARE @cat_name NVARCHAR(255);
    SELECT @cat_name = category_name FROM dbo.Categories WHERE category_id = @category_id;

    INSERT INTO dbo.Warehouse_Locations (zone, rack, shelf, category_id, description, max_capacity)
    VALUES (
        @zone, @rack_str, @shelf_str, @category_id,
        CONCAT(N'Khu ', @zone, N' - Kệ ', @rack_str, N' - Tầng ', @shelf_str, N' - Tầng phụ thể loại ', @cat_name),
        100
    );

    SET @new_location_id = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceivePurchaseOrder]    Script Date: 8/23/2026 2:06:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2.2. Stored Procedure: sp_ReceivePurchaseOrder
CREATE   PROCEDURE [dbo].[sp_ReceivePurchaseOrder]
    @purchase_order_id INT,
    @created_by NVARCHAR(128) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @details TABLE (
            book_id INT,
            received_quantity INT,
            import_price DECIMAL(18,2)
        );

        INSERT INTO @details (book_id, received_quantity, import_price)
        SELECT book_id, received_quantity, price
        FROM dbo.Purchase_Order_Details
        WHERE purchase_order_id = @purchase_order_id
          AND received_quantity > 0;

        UPDATE b
        SET
            b.cost_price = CASE
                WHEN ISNULL(b.stock_quantity, 0) + d.received_quantity = 0
                    THEN d.import_price
                ELSE
                    (ISNULL(b.cost_price, d.import_price) * ISNULL(b.stock_quantity, 0)
                        + d.import_price * d.received_quantity)
                    / (ISNULL(b.stock_quantity, 0) + d.received_quantity)
            END,
            b.stock_quantity = ISNULL(b.stock_quantity, 0) + d.received_quantity
        FROM dbo.Books b
        INNER JOIN @details d ON d.book_id = b.book_id;

        INSERT INTO dbo.Inventory_History
            (book_id, transaction_type, quantity_changed, related_id, created_at, created_by)
        SELECT
            d.book_id, 'IMPORT', d.received_quantity, @purchase_order_id, GETDATE(), @created_by
        FROM @details d;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
