USE [BookShop]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CanFitInLocation]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2.3. Function: kiểm tra 1 vị trí còn đủ chỗ để nhận thêm @qty cuốn không
--      Gọi hàm này ở tầng application TRƯỚC khi:
--        - Gán book.location_id cho 1 sách
--        - Tăng stock_quantity của 1 sách đang ở vị trí đó (vd: khi nhập kho)
CREATE   FUNCTION [dbo].[fn_CanFitInLocation]
(
    @location_id INT,
    @additional_quantity INT
)
RETURNS BIT
AS
BEGIN
    DECLARE @remaining INT;
    DECLARE @result BIT = 0;

    SELECT @remaining = remaining_capacity
    FROM dbo.vw_LocationCapacity
    WHERE location_id = @location_id;

    IF @remaining IS NULL OR @remaining >= @additional_quantity
        SET @result = 1;

    RETURN @result;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_FindAvailableLocationForCategory]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ------------------------------------------------------------
-- 2) FUNCTION: tìm 1 tầng (trong số các tầng của thể loại này)
--    còn đủ chỗ chứa @needed_qty cuốn. Trả về NULL nếu không tầng nào đủ chỗ.
-- ------------------------------------------------------------
CREATE   FUNCTION [dbo].[fn_FindAvailableLocationForCategory]
(
    @category_id INT,
    @needed_qty INT
)
RETURNS INT
AS
BEGIN
    DECLARE @location_id INT;

    SELECT TOP 1 @location_id = lc.location_id
    FROM dbo.vw_LocationCapacity lc
    WHERE lc.category_id = @category_id
      AND lc.remaining_capacity >= @needed_qty
    ORDER BY lc.location_id ASC;   -- ưu tiên lấp đầy tầng có sẵn theo thứ tự trước

    RETURN @location_id;
END
GO
/****** Object:  Table [dbo].[Books]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[author] [nvarchar](100) NULL,
	[supplier] [nvarchar](100) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image] [varchar](max) NULL,
	[number_page] [int] NULL,
	[yearOfPublish] [int] NULL,
	[stock_quantity] [int] NULL,
	[sold_quantity] [int] NULL,
	[publisher] [nvarchar](100) NULL,
	[ISBN] [varchar](20) NULL,
	[category_id] [int] NULL,
	[is_active] [bit] NOT NULL,
	[location_id] [int] NULL,
	[supplier_id] [int] NULL,
	[cost_price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse_Locations]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse_Locations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[zone] [varchar](10) NOT NULL,
	[rack] [varchar](10) NOT NULL,
	[shelf] [varchar](10) NOT NULL,
	[location_code]  AS (((([zone]+'-')+[rack])+'-')+[shelf]) PERSISTED NOT NULL,
	[category_id] [int] NULL,
	[description] [nvarchar](max) NULL,
	[max_capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LocationCapacity]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Gợi ý: set giá trị mặc định ban đầu cho các vị trí đã tồn tại,
-- admin có thể chỉnh lại từng vị trí sau qua UI quản lý kho.
-- UPDATE dbo.Warehouse_Locations SET max_capacity = 200 WHERE max_capacity IS NULL;

-- 2.2. View: xem nhanh sức chứa hiện tại / còn trống của từng vị trí
CREATE   VIEW [dbo].[vw_LocationCapacity]
AS
SELECT
    wl.location_id,
    wl.location_code,
    wl.category_id,
    wl.max_capacity,
    ISNULL(SUM(b.stock_quantity), 0)                              AS current_quantity,
    wl.max_capacity - ISNULL(SUM(b.stock_quantity), 0)             AS remaining_capacity
FROM dbo.Warehouse_Locations wl
LEFT JOIN dbo.Books b ON b.location_id = wl.location_id
GROUP BY wl.location_id, wl.location_code, wl.category_id, wl.max_capacity;
GO
/****** Object:  View [dbo].[vw_CategoryCapacity]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   HƯỚNG B: 1 THỂ LOẠI CÓ THỂ CHIẾM NHIỀU TẦNG
   ============================================================
   Nguyên tắc giữ nguyên: 1 tầng vẫn chỉ chứa ĐÚNG 1 thể loại.
   Điểm thay đổi: 1 thể loại không còn bị ép vào đúng 1 tầng nữa -
   khi tầng chính đầy (>= max_capacity), hệ thống tự tìm hoặc tự
   tạo thêm "tầng phụ" cùng thể loại đó.

   Không cần đổi schema: category_id trong Warehouse_Locations
   vốn KHÔNG có ràng buộc UNIQUE (chỉ location_code mới unique),
   nên nhiều dòng cùng category_id đã hợp lệ sẵn.

   Quy ước tầng phụ: dùng rack từ '90' trở lên trong CÙNG zone với
   tầng gốc của thể loại đó (để vẫn nằm gần khu vực cũ), shelf 01-05
   như bình thường. Dễ nhận biết đâu là tầng phụ khi nhìn location_code.
   ============================================================ */


-- ------------------------------------------------------------
-- 1) VIEW: tổng sức chứa của 1 thể loại, gộp tất cả tầng nó đang chiếm
-- ------------------------------------------------------------
CREATE   VIEW [dbo].[vw_CategoryCapacity]
AS
SELECT
    wl.category_id,
    COUNT(DISTINCT wl.location_id)                                 AS so_tang_dang_dung,
    SUM(wl.max_capacity)                                           AS tong_suc_chua,
    ISNULL(SUM(b.stock_quantity), 0)                               AS tong_ton_kho,
    SUM(wl.max_capacity) - ISNULL(SUM(b.stock_quantity), 0)        AS con_trong
FROM dbo.Warehouse_Locations wl
LEFT JOIN dbo.Books b ON b.location_id = wl.location_id
GROUP BY wl.category_id;
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[country] [nvarchar](50) NULL,
	[city] [nvarchar](100) NOT NULL,
	[district] [nvarchar](100) NOT NULL,
	[ward] [nvarchar](100) NOT NULL,
	[address_detail] [nvarchar](255) NOT NULL,
	[zip_code] [varchar](20) NULL,
	[is_default_billing] [bit] NULL,
	[is_default_shipping] [bit] NULL,
	[district_id] [int] NULL,
	[ward_code] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminNotifications]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminNotifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](255) NOT NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
	[link] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookImages]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookImages](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[image_url] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[create_at] [datetime] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
	[add_at] [datetime] NULL,
	[cart_id] [int] NULL,
	[book_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[category_image] [varchar](max) NULL,
	[parent_id] [int] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collection_Books]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collection_Books](
	[collection_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[collection_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collections]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collections](
	[collection_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[collection_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_public] [bit] NULL,
	[cover_color] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[collection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Notes]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Notes](
	[note_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[contact_channel] [varchar](50) NULL,
	[note_content] [nvarchar](max) NOT NULL,
	[follow_up_date] [date] NULL,
	[create_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[note_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FPoint_History]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPoint_History](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[customer_info] [nvarchar](100) NULL,
	[action_type] [varchar](10) NULL,
	[amount] [int] NULL,
	[reason] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_History]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_History](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[transaction_type] [varchar](20) NOT NULL,
	[quantity_changed] [int] NOT NULL,
	[related_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_type] [varchar](20) NOT NULL,
	[order_id] [int] NULL,
	[purchase_order_id] [int] NULL,
	[created_date] [datetime] NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[message] [nvarchar](255) NOT NULL,
	[link] [varchar](255) NOT NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_date] [datetime] NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[status] [int] NULL,
	[receiver_name] [nvarchar](100) NULL,
	[phone_number] [varchar](15) NULL,
	[shipping_address] [nvarchar](255) NULL,
	[payment_method] [nvarchar](50) NULL,
	[voucher_id] [int] NULL,
	[discount_amount] [decimal](18, 0) NULL,
	[status_note] [nvarchar](max) NULL,
	[shipping_fee] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion_Books]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion_Books](
	[promo_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[promo_id] [int] IDENTITY(1,1) NOT NULL,
	[promo_name] [nvarchar](255) NOT NULL,
	[discount_percent] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Order_Details]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Order_Details](
	[po_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[purchase_order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[expected_quantity] [int] NOT NULL,
	[received_quantity] [int] NULL,
	[price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[po_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Orders]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Orders](
	[purchase_order_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[approved_by] [int] NULL,
	[order_date] [datetime] NULL,
	[total_quantity] [int] NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[status] [int] NULL,
	[status_note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[purchase_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefundTransactions]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefundTransactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[return_id] [int] NOT NULL,
	[refund_amount] [float] NOT NULL,
	[bank_reference] [varchar](255) NULL,
	[processed_by] [varchar](100) NULL,
	[processed_at] [datetime] NULL,
	[admin_note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reported_Reviews]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reported_Reviews](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NULL,
	[user_id] [int] NULL,
	[reason] [nvarchar](255) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRequests]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRequests](
	[return_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[customer_reason] [nvarchar](500) NOT NULL,
	[return_method] [varchar](50) NOT NULL,
	[refund_preference] [varchar](50) NOT NULL,
	[evidence_image] [varbinary](max) NULL,
	[image_mime_type] [varchar](50) NULL,
	[status] [int] NULL,
	[admin_note] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[bank_name] [nvarchar](100) NULL,
	[account_number] [varchar](50) NULL,
	[account_owner] [nvarchar](100) NULL,
	[approved_at] [datetime] NULL,
	[proof_image] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[create_at] [datetime] NULL,
	[user_id] [int] NULL,
	[book_id] [int] NULL,
	[staff_reply] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](255) NOT NULL,
	[contact_person] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[address] [nvarchar](max) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Support_Tickets]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Support_Tickets](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[issue_type] [nvarchar](100) NOT NULL,
	[ticket_subject] [nvarchar](255) NOT NULL,
	[ticket_message] [nvarchar](max) NOT NULL,
	[status] [nvarchar](50) NULL,
	[admin_reply] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Vouchers]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Vouchers](
	[user_id] [int] NOT NULL,
	[voucher_id] [int] NOT NULL,
	[is_used] [bit] NULL,
	[saved_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone_number] [varchar](15) NULL,
	[password] [varchar](255) NOT NULL,
	[role] [int] NULL,
	[status] [bit] NULL,
	[failed_login_attempts] [int] NULL,
	[createAt] [datetime] NULL,
	[wallet_balance] [float] NULL,
	[tags] [nvarchar](255) NULL,
	[f_point] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[discount_amount] [decimal](18, 0) NULL,
	[discount_percent] [int] NULL,
	[min_order_value] [decimal](18, 0) NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[usage_limit] [int] NULL,
	[status] [int] NULL,
	[max_discount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet_History]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet_History](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[amount] [float] NOT NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[order_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([address_id], [user_id], [fullname], [phone], [country], [city], [district], [ward], [address_detail], [zip_code], [is_default_billing], [is_default_shipping], [district_id], [ward_code]) VALUES (35, 1011, N'Quang Lê', N'0357355646', NULL, N'Hưng Yên', N'Huyện Phù Cừ', N'Thị trấn Trần Cao', N'hhhhhhhhh', NULL, 0, 1, 2194, N'220701')
INSERT [dbo].[Addresses] ([address_id], [user_id], [fullname], [phone], [country], [city], [district], [ward], [address_detail], [zip_code], [is_default_billing], [is_default_shipping], [district_id], [ward_code]) VALUES (37, 1013, N'Lê Ngọc Quang', N'0357355646', NULL, N'Lào Cai', N'Huyện Mường Khương', N'Xã Bản Lầu', N'vfvdfv', NULL, 0, 1, 2171, N'80902')
INSERT [dbo].[Addresses] ([address_id], [user_id], [fullname], [phone], [country], [city], [district], [ward], [address_detail], [zip_code], [is_default_billing], [is_default_shipping], [district_id], [ward_code]) VALUES (39, 1012, N'Lê Ngọc Quang', N'0357355646', NULL, N'Hưng Yên', N'Huyện Phù Cừ', N'Xã Đình Cao', N'vugj', NULL, 0, 1, 2194, N'220702')
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminNotifications] ON 

INSERT [dbo].[AdminNotifications] ([notification_id], [message], [is_read], [created_at], [link]) VALUES (1, N'Đơn hàng #1 vừa được tạo bởi khách hàng.', 1, CAST(N'2026-03-10T16:25:03.093' AS DateTime), NULL)
INSERT [dbo].[AdminNotifications] ([notification_id], [message], [is_read], [created_at], [link]) VALUES (2, N'Khách hàng đã gửi yêu cầu hủy đơn hàng #2.', 1, CAST(N'2026-03-10T16:25:03.097' AS DateTime), NULL)
INSERT [dbo].[AdminNotifications] ([notification_id], [message], [is_read], [created_at], [link]) VALUES (3, N'Đơn hàng #3 đã được thanh toán thành công.', 1, CAST(N'2026-03-10T16:25:03.100' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[AdminNotifications] OFF
GO
SET IDENTITY_INSERT [dbo].[BookImages] ON 

INSERT [dbo].[BookImages] ([image_id], [book_id], [image_url]) VALUES (14867, 426, N'https://cdn1.fahasa.com/media/catalog/product/i/m/image_231202.jpg')
INSERT [dbo].[BookImages] ([image_id], [book_id], [image_url]) VALUES (14868, 426, N'https://cdn1.fahasa.com/media/catalog/product/8/9/8935095631537.jpg')
INSERT [dbo].[BookImages] ([image_id], [book_id], [image_url]) VALUES (14869, 426, N'https://cdn1.fahasa.com/media/catalog/product/b/i/bia_nguoi-ba-tai-gioi-vung-saga-b4.jpg')
GO
SET IDENTITY_INSERT [dbo].[BookImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cart_id], [create_at], [user_id]) VALUES (46, CAST(N'2026-03-13T00:16:23.850' AS DateTime), 1011)
INSERT [dbo].[Cart] ([cart_id], [create_at], [user_id]) VALUES (52, CAST(N'2026-03-16T23:19:58.320' AS DateTime), 1004)
INSERT [dbo].[Cart] ([cart_id], [create_at], [user_id]) VALUES (59, CAST(N'2026-04-14T07:35:53.307' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([category_id], [category_name], [category_image], [parent_id], [description]) VALUES (1, N'VĂN HỌC', N'assets/image/Categories/Vanhoc.jpg', NULL, NULL)
INSERT [dbo].[Categories] ([category_id], [category_name], [category_image], [parent_id], [description]) VALUES (2, N'Tiểu Thuyết', NULL, 1, NULL)
INSERT [dbo].[Categories] ([category_id], [category_name], [category_image], [parent_id], [description]) VALUES (3, N'Truyện Ngắn - Tản Văn', NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Collections] ON 

INSERT [dbo].[Collections] ([collection_id], [user_id], [collection_name], [description], [is_public], [cover_color], [created_at]) VALUES (2, 4, N'Sách Văn Học', N'Những sách văn học tôi thích', 1, N'#14cc8f', CAST(N'2026-03-10T21:28:07.047' AS DateTime))
INSERT [dbo].[Collections] ([collection_id], [user_id], [collection_name], [description], [is_public], [cover_color], [created_at]) VALUES (3, 4, N'Truyện tranh', N'bvjh', 1, N'#c92127', CAST(N'2026-03-10T21:28:18.983' AS DateTime))
INSERT [dbo].[Collections] ([collection_id], [user_id], [collection_name], [description], [is_public], [cover_color], [created_at]) VALUES (4, 4, N'Tình yêu', N'Những sách về love story', 1, N'#ca2194', CAST(N'2026-03-10T21:28:40.267' AS DateTime))
SET IDENTITY_INSERT [dbo].[Collections] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([invoice_id], [invoice_type], [order_id], [purchase_order_id], [created_date], [total_amount], [status]) VALUES (1, N'PURCHASE', NULL, 5, CAST(N'2026-03-28T21:03:20.733' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), N'COMPLETED')
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([notification_id], [user_id], [message], [link], [is_read], [created_at]) VALUES (14, 1011, N'<b>sa</b> đã nhắc đến bạn trong một bình luận.', N'detail?pid=2110#reply-box-76', 1, CAST(N'2026-03-14T12:44:41.147' AS DateTime))
INSERT [dbo].[Notifications] ([notification_id], [user_id], [message], [link], [is_read], [created_at]) VALUES (15, 1011, N'<b>sa</b> đã nhắc đến bạn trong một bình luận.', N'detail?pid=2110#reply-box-79', 1, CAST(N'2026-03-15T14:45:38.453' AS DateTime))
INSERT [dbo].[Notifications] ([notification_id], [user_id], [message], [link], [is_read], [created_at]) VALUES (18, 1011, N'<b>sa</b> đã nhắc đến bạn trong một bình luận.', N'detail?pid=2110#reply-box-82', 1, CAST(N'2026-03-18T14:33:57.833' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [total_amount], [status], [receiver_name], [phone_number], [shipping_address], [payment_method], [voucher_id], [discount_amount], [status_note], [shipping_fee]) VALUES (1, 4, CAST(N'2026-02-25T14:06:56.970' AS DateTime), CAST(368000.00 AS Decimal(18, 2)), 1, NULL, N'0357355646', N'Hà nội', N'COD', NULL, NULL, NULL, 0)
INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [total_amount], [status], [receiver_name], [phone_number], [shipping_address], [payment_method], [voucher_id], [discount_amount], [status_note], [shipping_fee]) VALUES (2, 4, CAST(N'2026-02-25T14:08:33.790' AS DateTime), CAST(292000.00 AS Decimal(18, 2)), 7, NULL, N'0357355646', N'thanh hóa', N'COD', NULL, NULL, NULL, 0)
INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [total_amount], [status], [receiver_name], [phone_number], [shipping_address], [payment_method], [voucher_id], [discount_amount], [status_note], [shipping_fee]) VALUES (3, 4, CAST(N'2026-02-25T15:36:55.260' AS DateTime), CAST(155000.00 AS Decimal(18, 2)), 1, NULL, N'0357355646', N'vgh', N'COD', NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([promo_id], [promo_name], [discount_percent], [start_date], [end_date], [is_active]) VALUES (5, N'Siêu Salee', 50, CAST(N'2026-03-20T19:08:00.000' AS DateTime), CAST(N'2026-03-31T19:08:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchase_Orders] ON 

INSERT [dbo].[Purchase_Orders] ([purchase_order_id], [supplier_id], [user_id], [approved_by], [order_date], [total_quantity], [total_amount], [status], [status_note]) VALUES (1, 1, 1006, NULL, CAST(N'2023-10-01T10:30:00.000' AS DateTime), 150, CAST(7500000.00 AS Decimal(18, 2)), 0, N'Đơn hàng nhập sách thiếu đầu tháng')
INSERT [dbo].[Purchase_Orders] ([purchase_order_id], [supplier_id], [user_id], [approved_by], [order_date], [total_quantity], [total_amount], [status], [status_note]) VALUES (2, 2, 1006, 1005, CAST(N'2023-10-05T14:15:00.000' AS DateTime), 300, CAST(15000000.00 AS Decimal(18, 2)), 1, N'Admin đã duyệt, chờ giao')
INSERT [dbo].[Purchase_Orders] ([purchase_order_id], [supplier_id], [user_id], [approved_by], [order_date], [total_quantity], [total_amount], [status], [status_note]) VALUES (3, 1, 1006, 1005, CAST(N'2023-09-20T09:00:00.000' AS DateTime), 100, CAST(5000000.00 AS Decimal(18, 2)), 2, N'Đã nhập kho')
SET IDENTITY_INSERT [dbo].[Purchase_Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([supplier_id], [supplier_name], [contact_person], [phone], [email], [address], [is_active]) VALUES (1, N'Nhà Xuất Bản Kim Đồng', N'Nguyễn Văn A', N'02439264700', N'info@nxbkimdong.com.vn', N'55 Quang Trung, Hai Bà Trưng, Hà Nội', 1)
INSERT [dbo].[Suppliers] ([supplier_id], [supplier_name], [contact_person], [phone], [email], [address], [is_active]) VALUES (2, N'Công ty CP Văn hóa và Truyền thông Nhã Nam', N'Trần Thị B', N'02435146876', N'info@nhanam.vn', N'59 Đỗ Quang, Cầu Giấy, Hà Nội', 1)
INSERT [dbo].[Suppliers] ([supplier_id], [supplier_name], [contact_person], [phone], [email], [address], [is_active]) VALUES (3, N'Nhà Xuất Bản Trẻ', N'Lê Văn C', N'02839316289', N'nxbtre@nxbtre.com.vn', N'161B Lý Chính Thắng, Quận 3, TP.HCM', 1)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Support_Tickets] ON 

INSERT [dbo].[Support_Tickets] ([ticket_id], [user_id], [issue_type], [ticket_subject], [ticket_message], [status], [admin_reply], [created_at]) VALUES (1, 4, N'Lỗi website / Ứng dụng', N'scxsx', N'cscxsx', N'Pending', NULL, CAST(N'2026-03-11T22:05:27.750' AS DateTime))
INSERT [dbo].[Support_Tickets] ([ticket_id], [user_id], [issue_type], [ticket_subject], [ticket_message], [status], [admin_reply], [created_at]) VALUES (2, 4, N'Sản phẩm lỗi / Thiếu hàng', N'Phản hồi tiến độ giao hàng', N'77', N'Pending', NULL, CAST(N'2026-03-14T12:12:38.843' AS DateTime))
INSERT [dbo].[Support_Tickets] ([ticket_id], [user_id], [issue_type], [ticket_subject], [ticket_message], [status], [admin_reply], [created_at]) VALUES (3, 4, N'Lỗi website / Ứng dụng', N'Phản hồi tiến độ giao hàng', N'uu', N'Replied', N'Chúng tôi sẽ cố gắng khắc phục, cảm ơn bạn', CAST(N'2026-03-18T01:34:47.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[Support_Tickets] OFF
GO
INSERT [dbo].[User_Vouchers] ([user_id], [voucher_id], [is_used], [saved_date]) VALUES (4, 1, 1, CAST(N'2026-03-08T14:35:28.247' AS DateTime))
INSERT [dbo].[User_Vouchers] ([user_id], [voucher_id], [is_used], [saved_date]) VALUES (4, 2, 1, CAST(N'2026-03-08T14:35:28.250' AS DateTime))
INSERT [dbo].[User_Vouchers] ([user_id], [voucher_id], [is_used], [saved_date]) VALUES (4, 3, 1, CAST(N'2026-03-08T14:35:28.250' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [fullname], [username], [email], [phone_number], [password], [role], [status], [failed_login_attempts], [createAt], [wallet_balance], [tags], [f_point]) VALUES (3, N'Nhân viên Bán Hàng', N'sale01', N'sale01@bookstore.com', N'0988666888', N'123', 3, 1, 0, CAST(N'2026-02-14T09:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Users] ([user_id], [fullname], [username], [email], [phone_number], [password], [role], [status], [failed_login_attempts], [createAt], [wallet_balance], [tags], [f_point]) VALUES (4, N'Lê Ngọc Quangg', N'sa', N'hoalt.mnxuanloc.hl@thanhhoa.edu.vn', N'0357355646', N'123456', 0, 1, 0, CAST(N'2026-02-18T19:53:14.027' AS DateTime), 3142996, NULL, NULL)
INSERT [dbo].[Users] ([user_id], [fullname], [username], [email], [phone_number], [password], [role], [status], [failed_login_attempts], [createAt], [wallet_balance], [tags], [f_point]) VALUES (1004, N'Nhân viên Sale', N'staff', N'staff@bookstore.com', N'0909999999', N'123', 3, 1, 0, CAST(N'2026-02-23T08:49:19.970' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([voucher_id], [code], [discount_amount], [discount_percent], [min_order_value], [start_date], [end_date], [usage_limit], [status], [max_discount]) VALUES (1, N'FREESHIP', CAST(30000 AS Decimal(18, 0)), NULL, CAST(0 AS Decimal(18, 0)), CAST(N'2026-03-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), 490, 1, NULL)
INSERT [dbo].[Vouchers] ([voucher_id], [code], [discount_amount], [discount_percent], [min_order_value], [start_date], [end_date], [usage_limit], [status], [max_discount]) VALUES (2, N'GIAM50K', CAST(50000 AS Decimal(18, 0)), NULL, CAST(200000 AS Decimal(18, 0)), CAST(N'2026-03-01T00:00:00.000' AS DateTime), CAST(N'2026-06-30T00:00:00.000' AS DateTime), 94, 1, NULL)
INSERT [dbo].[Vouchers] ([voucher_id], [code], [discount_amount], [discount_percent], [min_order_value], [start_date], [end_date], [usage_limit], [status], [max_discount]) VALUES (3, N'SALE10PT', NULL, 10, CAST(150000 AS Decimal(18, 0)), CAST(N'2026-03-08T00:00:00.000' AS DateTime), CAST(N'2026-05-01T00:00:00.000' AS DateTime), 200, 1, NULL)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallet_History] ON 

INSERT [dbo].[Wallet_History] ([transaction_id], [user_id], [amount], [transaction_type], [description], [order_id], [created_at]) VALUES (3, 4, 150000, N'REFUND', N'Hoàn tiền cho đơn hàng bị hủy (Test hệ thống)', NULL, CAST(N'2026-03-20T21:28:02.730' AS DateTime))
INSERT [dbo].[Wallet_History] ([transaction_id], [user_id], [amount], [transaction_type], [description], [order_id], [created_at]) VALUES (4, 4, -50000, N'PAYMENT', N'Thanh toán bằng ví BookStore', NULL, CAST(N'2026-03-20T21:28:02.733' AS DateTime))
INSERT [dbo].[Wallet_History] ([transaction_id], [user_id], [amount], [transaction_type], [description], [order_id], [created_at]) VALUES (5, 4, 4000000, N'DEPOSIT', N'Hệ thống nạp tiền vào ví', NULL, CAST(N'2026-03-20T22:08:22.043' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wallet_History] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouse_Locations] ON 

INSERT [dbo].[Warehouse_Locations] ([location_id], [zone], [rack], [shelf], [category_id], [description], [max_capacity]) VALUES (0, N'A', N'01', N'01', 17, N'Khu A - Kệ 01 - Tầng 01 - Thể loại Cẩm Nang Làm Cha Mẹ', 100)
INSERT [dbo].[Warehouse_Locations] ([location_id], [zone], [rack], [shelf], [category_id], [description], [max_capacity]) VALUES (1, N'A', N'02', N'02', 27, N'Khu A - Kệ 02 - Tầng 02 - Thể loại Câu Chuyện Cuộc Đời', 100)
INSERT [dbo].[Warehouse_Locations] ([location_id], [zone], [rack], [shelf], [category_id], [description], [max_capacity]) VALUES (2, N'A', N'01', N'03', 28, N'Khu A - Kệ 01 - Tầng 03 - Thể loại Chính Trị', 100)
SET IDENTITY_INSERT [dbo].[Warehouse_Locations] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__447D36EA00C5F0C4]    Script Date: 8/18/2026 3:41:35 PM ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__447D36EAD946056C]    Script Date: 8/18/2026 3:41:35 PM ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164A72CFFF6]    Script Date: 8/18/2026 3:41:35 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164B006FF25]    Script Date: 8/18/2026 3:41:35 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vouchers__357D4CF91574AA4C]    Script Date: 8/18/2026 3:41:35 PM ******/
ALTER TABLE [dbo].[Vouchers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Warehous__68EFE2C42198EF36]    Script Date: 8/18/2026 3:41:35 PM ******/
ALTER TABLE [dbo].[Warehouse_Locations] ADD UNIQUE NONCLUSTERED 
(
	[location_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Warehous__68EFE2C4406D1E1F]    Script Date: 8/18/2026 3:41:35 PM ******/
ALTER TABLE [dbo].[Warehouse_Locations] ADD UNIQUE NONCLUSTERED 
(
	[location_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT ('Vi?t Nam') FOR [country]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT ((0)) FOR [is_default_billing]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT ((0)) FOR [is_default_shipping]
GO
ALTER TABLE [dbo].[AdminNotifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[AdminNotifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [sold_quantity]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT (getdate()) FOR [add_at]
GO
ALTER TABLE [dbo].[Collection_Books] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Collections] ADD  DEFAULT ((1)) FOR [is_public]
GO
ALTER TABLE [dbo].[Collections] ADD  DEFAULT ('#C92127') FOR [cover_color]
GO
ALTER TABLE [dbo].[Collections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Customer_Notes] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[FPoint_History] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Inventory_History] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('COMPLETED') FOR [status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[RefundTransactions] ADD  DEFAULT (getdate()) FOR [processed_at]
GO
ALTER TABLE [dbo].[Reported_Reviews] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Reported_Reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ReturnRequests] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[ReturnRequests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Support_Tickets] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Support_Tickets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User_Vouchers] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[User_Vouchers] ADD  DEFAULT (getdate()) FOR [saved_date]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((2)) FOR [role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [failed_login_attempts]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [createAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [wallet_balance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [f_point]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((100)) FOR [usage_limit]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Wallet_History] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Users]
GO
ALTER TABLE [dbo].[BookImages]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Locations] FOREIGN KEY([location_id])
REFERENCES [dbo].[Warehouse_Locations] ([location_id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Locations]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Suppliers] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Suppliers]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Users]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Books] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Books]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Cart]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Category_Parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Category_Parent]
GO
ALTER TABLE [dbo].[Collection_Books]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Collection_Books]  WITH CHECK ADD FOREIGN KEY([collection_id])
REFERENCES [dbo].[Collections] ([collection_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Collections]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_Notes]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FPoint_History]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Inventory_History]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Inventory_History]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([purchase_order_id])
REFERENCES [dbo].[Purchase_Orders] ([purchase_order_id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Promotion_Books]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Promotion_Books]  WITH CHECK ADD FOREIGN KEY([promo_id])
REFERENCES [dbo].[Promotions] ([promo_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchase_Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_PODetails_Books] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Purchase_Order_Details] CHECK CONSTRAINT [FK_PODetails_Books]
GO
ALTER TABLE [dbo].[Purchase_Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_PODetails_PO] FOREIGN KEY([purchase_order_id])
REFERENCES [dbo].[Purchase_Orders] ([purchase_order_id])
GO
ALTER TABLE [dbo].[Purchase_Order_Details] CHECK CONSTRAINT [FK_PODetails_PO]
GO
ALTER TABLE [dbo].[Purchase_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Orders_Admin] FOREIGN KEY([approved_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Purchase_Orders] CHECK CONSTRAINT [FK_Purchase_Orders_Admin]
GO
ALTER TABLE [dbo].[Purchase_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Orders_Suppliers] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[Purchase_Orders] CHECK CONSTRAINT [FK_Purchase_Orders_Suppliers]
GO
ALTER TABLE [dbo].[Purchase_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Orders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Purchase_Orders] CHECK CONSTRAINT [FK_Purchase_Orders_Users]
GO
ALTER TABLE [dbo].[RefundTransactions]  WITH CHECK ADD  CONSTRAINT [FK_Refund_Return] FOREIGN KEY([return_id])
REFERENCES [dbo].[ReturnRequests] ([return_id])
GO
ALTER TABLE [dbo].[RefundTransactions] CHECK CONSTRAINT [FK_Refund_Return]
GO
ALTER TABLE [dbo].[Reported_Reviews]  WITH CHECK ADD FOREIGN KEY([review_id])
REFERENCES [dbo].[Review] ([review_id])
GO
ALTER TABLE [dbo].[Reported_Reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ReturnRequests]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[ReturnRequests]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Books] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Books]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Users]
GO
ALTER TABLE [dbo].[Support_Tickets]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[User_Vouchers]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Vouchers]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Vouchers] ([voucher_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wallet_History]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Wallet_History]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [CHK_Invoice_Type] CHECK  (([invoice_type]='SALE' AND [order_id] IS NOT NULL AND [purchase_order_id] IS NULL OR [invoice_type]='PURCHASE' AND [purchase_order_id] IS NOT NULL AND [order_id] IS NULL))
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [CHK_Invoice_Type]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOverflowLocation]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ------------------------------------------------------------
-- 3) PROC: tự tạo 1 tầng phụ mới cho 1 thể loại khi tất cả tầng hiện có đã đầy
-- ------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_CreateOverflowLocation]
    @category_id INT,
    @new_location_id INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Lấy zone của tầng gốc (tầng đầu tiên) thuộc thể loại này để tầng phụ nằm cùng khu
    DECLARE @zone VARCHAR(10);
    SELECT TOP 1 @zone = zone
    FROM dbo.Warehouse_Locations
    WHERE category_id = @category_id
    ORDER BY location_id ASC;

    IF @zone IS NULL
    BEGIN
        RAISERROR(N'Thể loại này chưa có tầng gốc nào, không xác định được zone để tạo tầng phụ.', 16, 1);
        RETURN;
    END

    -- Dò tìm rack (90-99) x shelf (01-05) đầu tiên còn trống trong zone này
    DECLARE @rack INT = 90, @shelf INT, @found BIT = 0;
    DECLARE @rack_str VARCHAR(10), @shelf_str VARCHAR(10);

    WHILE @rack <= 99 AND @found = 0
    BEGIN
        SET @shelf = 1;
        WHILE @shelf <= 5 AND @found = 0
        BEGIN
            SET @rack_str = RIGHT('0' + CAST(@rack AS VARCHAR(2)), 2);
            SET @shelf_str = RIGHT('0' + CAST(@shelf AS VARCHAR(2)), 2);

            IF NOT EXISTS (
                SELECT 1 FROM dbo.Warehouse_Locations
                WHERE zone = @zone AND rack = @rack_str AND shelf = @shelf_str
            )
            BEGIN
                SET @found = 1;
            END
            ELSE
            BEGIN
                SET @shelf += 1;
            END
        END
        IF @found = 0 SET @rack += 1;
    END

    IF @found = 0
    BEGIN
        RAISERROR(N'Đã hết chỗ trong dải rack phụ 90-99 cho zone này, cần mở zone mới.', 16, 1);
        RETURN;
    END

    DECLARE @cat_name NVARCHAR(255);
    SELECT @cat_name = category_name FROM dbo.Categories WHERE category_id = @category_id;

    INSERT INTO dbo.Warehouse_Locations (zone, rack, shelf, category_id, description, max_capacity)
    VALUES (
        @zone, @rack_str, @shelf_str, @category_id,
        CONCAT(N'Khu ', @zone, N' - Kệ ', @rack_str, N' - Tầng ', @shelf_str, N' - Tầng phụ thể loại ', @cat_name),
        100
    );

    SET @new_location_id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrCreateLocationForCategory]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ------------------------------------------------------------
-- 4) PROC: hàm dùng thường xuyên ở tầng application -
--    tìm chỗ chứa @quantity cuốn cho 1 thể loại; nếu hết chỗ thì tự tạo tầng phụ.
--    Gọi proc này thay vì gán location_id thủ công mỗi khi thêm sách mới
--    hoặc tăng stock_quantity.
-- ------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_GetOrCreateLocationForCategory]
    @category_id INT,
    @needed_qty INT,
    @location_id INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @location_id = dbo.fn_FindAvailableLocationForCategory(@category_id, @needed_qty);

    IF @location_id IS NULL
    BEGIN
        EXEC dbo.sp_CreateOverflowLocation @category_id = @category_id, @new_location_id = @location_id OUTPUT;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RebalanceCategoryLocations]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Cách dùng ví dụ khi thêm/nhập thêm sách:
   DECLARE @loc INT;
   EXEC dbo.sp_GetOrCreateLocationForCategory @category_id = 3, @needed_qty = 50, @location_id = @loc OUTPUT;
   UPDATE dbo.Books SET location_id = @loc WHERE book_id = 429;
*/


/* ============================================================
   5) DỌN LẠI DATA HIỆN CÓ: dồn các tầng đang vượt 100 sang tầng phụ
   ============================================================
   93 sách hiện tại đang dồn hết vào 1 tầng/thể loại (150-200 cuốn/tầng,
   vượt xa 100). Chạy 1 lần để phân bổ lại theo nguyên tắc next-fit:
   lấp đầy tầng hiện có tới max_capacity rồi mới tràn sang tầng phụ.
   ============================================================ */

CREATE   PROCEDURE [dbo].[sp_RebalanceCategoryLocations]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @category_id INT;
        DECLARE cat_cursor CURSOR LOCAL FAST_FORWARD FOR
            SELECT DISTINCT category_id FROM dbo.Books WHERE category_id IS NOT NULL;

        OPEN cat_cursor;
        FETCH NEXT FROM cat_cursor INTO @category_id;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            DECLARE @book_id INT, @stock INT;
            DECLARE @cur_location_id INT, @cur_capacity INT, @cur_filled INT;

            -- Tầng hiện tại để rót sách vào - bắt đầu bằng tầng có location_id nhỏ nhất của thể loại
            SELECT TOP 1 @cur_location_id = location_id, @cur_capacity = max_capacity
            FROM dbo.Warehouse_Locations
            WHERE category_id = @category_id
            ORDER BY location_id ASC;

            SET @cur_filled = 0;

            DECLARE book_cursor CURSOR LOCAL FAST_FORWARD FOR
                SELECT book_id, ISNULL(stock_quantity, 0)
                FROM dbo.Books
                WHERE category_id = @category_id
                ORDER BY book_id ASC;

            OPEN book_cursor;
            FETCH NEXT FROM book_cursor INTO @book_id, @stock;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                -- Nếu rót thêm cuốn này vào tầng hiện tại sẽ vượt max_capacity -> chuyển tầng
                IF @cur_filled + @stock > @cur_capacity
                BEGIN
                    -- Tìm tầng khác (đã có) còn đủ chỗ, ưu tiên trước khi tạo tầng phụ mới
                    DECLARE @next_location_id INT = dbo.fn_FindAvailableLocationForCategory(@category_id, @stock);

                    IF @next_location_id IS NULL
                    BEGIN
                        EXEC dbo.sp_CreateOverflowLocation @category_id = @category_id, @new_location_id = @next_location_id OUTPUT;
                        SET @cur_capacity = 100;
                    END
                    ELSE
                    BEGIN
                        SELECT @cur_capacity = max_capacity FROM dbo.Warehouse_Locations WHERE location_id = @next_location_id;
                    END

                    SET @cur_location_id = @next_location_id;
                    SET @cur_filled = 0;
                END

                UPDATE dbo.Books SET location_id = @cur_location_id WHERE book_id = @book_id;
                SET @cur_filled += @stock;

                FETCH NEXT FROM book_cursor INTO @book_id, @stock;
            END

            CLOSE book_cursor;
            DEALLOCATE book_cursor;

            FETCH NEXT FROM cat_cursor INTO @category_id;
        END

        CLOSE cat_cursor;
        DEALLOCATE cat_cursor;

        COMMIT TRANSACTION;
        PRINT N'Đã dồn lại toàn bộ sách theo đúng giới hạn max_capacity mỗi tầng.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        PRINT ERROR_MESSAGE();
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceivePurchaseOrder]    Script Date: 8/18/2026 3:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1.2. Stored procedure: xử lý khi 1 Purchase_Order được xác nhận "đã nhập kho"
--      Gọi proc này từ tầng application (ASP.NET Core) ngay tại bước
--      admin cập nhật Purchase_Orders.status = 2 ("Đã nhập kho").
--      Proc làm 3 việc trong 1 transaction:
--        a) Cộng received_quantity vào Books.stock_quantity
--        b) Tính lại cost_price theo bình quân gia quyền
--        c) Ghi log vào Inventory_History
CREATE   PROCEDURE [dbo].[sp_ReceivePurchaseOrder]
    @purchase_order_id INT,
    @created_by INT = NULL   -- user_id admin thực hiện nhập kho
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Chỉ xử lý các dòng có received_quantity > 0
        DECLARE @details TABLE (
            book_id INT,
            received_quantity INT,
            import_price DECIMAL(18,2)
        );

        INSERT INTO @details (book_id, received_quantity, import_price)
        SELECT book_id, received_quantity, price
        FROM dbo.Purchase_Order_Details
        WHERE purchase_order_id = @purchase_order_id
          AND received_quantity > 0;

        -- (b) Tính giá vốn bình quân gia quyền + (a) cộng tồn kho
        -- Công thức: cost_price_moi =
        --   (cost_price_cu * stock_cu + import_price * received_quantity)
        --   / (stock_cu + received_quantity)
        UPDATE b
        SET
            b.cost_price = CASE
                WHEN ISNULL(b.stock_quantity, 0) + d.received_quantity = 0
                    THEN d.import_price
                ELSE
                    (ISNULL(b.cost_price, d.import_price) * ISNULL(b.stock_quantity, 0)
                        + d.import_price * d.received_quantity)
                    / (ISNULL(b.stock_quantity, 0) + d.received_quantity)
            END,
            b.stock_quantity = ISNULL(b.stock_quantity, 0) + d.received_quantity
        FROM dbo.Books b
        INNER JOIN @details d ON d.book_id = b.book_id;

        -- (c) Ghi log lịch sử nhập kho
        INSERT INTO dbo.Inventory_History
            (book_id, transaction_type, quantity_changed, related_id, created_at, created_by)
        SELECT
            d.book_id, 'IMPORT', d.received_quantity, @purchase_order_id, GETDATE(), @created_by
        FROM @details d;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
